/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

.personal_logo{
    position:absolute;
    left: 20%;
    top:25%;
}

.side-nav .personal_logo:hover{
    background:none !important;
}

.personal_logo a{
    height: auto;
    text-align: center;
}

.personal_logo img {
    width: 250px;
    border-radius: 5px;
}

.quora_logo a{
    display: block;
    width: 300px;
    /*height: 50px;*/
    background-size: 280px 58px;
    background-image: url(../img/favicon.ico);
    background-repeat: no-repeat;
    background-position: center center;
    margin: 0 auto;
    position:absolute;
    left: 20%;
    top:40%;
}
.quora_side.side-nav{
    width: 35%;
    background-color: #fcfcfc;
/*    left:0 !important;*/
}
.personal_logo .love{
/*
    position:absolute;
    left:55px;
    top:55px;
*/
}
.quora_left,footer.page-footer.quora_left{
    margin-left: 35%;
}
.quora_left .parallax{
    background-color: #b92b27;
}
.quora_left .parallax-container{
    min-height:280px;
    
}
.quora_question{
    border-top:1px solid #ccc;
    border-bottom:1px solid #ccc;
    padding-top:15px;
    padding-bottom:15px;
}
.quora_question a, .quora_question span{
    color:#333;
    font-size:19px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: bold;
}
.quora_answerBy img{
    border-radius:50%;
}
.answer_thumb{
    padding-left: 0px;
    float: left;
    margin-right: 10px;
}
.quora_answerBy{
    margin-top:10px;
}
.quora_answerBy span:first-child{
    display: block;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 15px;
    color:#333;
    padding-bottom: 5px;
}
.quora_answerBy span{
    display: block;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 12px;
    color:#999;
    font-weight: normal;
}
.answerText,.quora_answerBy span.readMore{
    font-family: Georgia, Times, 'Times New Roman', serif;
    color: #333;
    font-size: 15px;
    font-weight: normal;
    margin-top: 20px;
}
.quora_answerBy span.readMore{
    color:#2b6dad;
    margin-top: 0;
}
.lower_section a.cmt_btn{
    float:left;
    color:#999;
    border-radius: 3px;
    padding: 3px 7px 4px 7px;
    background:#f1f8fb;
    border:1px solid #ddd;
}
.quora_answerBy .lower_section a.cmt_btn span{
    color:#999;
    padding-bottom:0px;
}
.lower_section .link{
    color:#999;
    font-size: 13px;
    font-weight: normal;
    display:inline-block;
    margin-left: 10px;
    margin-top: 5px;
}
ul.project_section.row li{
    margin-left: 5% !important;
    padding:15px;
    min-height:350px;
}
.work_thumb{
   
}
.work_thumb img{
    margin: 0 auto;
}
.work_thumb img.marginTop{
    margin-top: 10px;
}
ul.project_section .carousel .carousel-item{
    width:350px;
}
ul.social_icons li {
    float: left;
    margin-right: 10px;
}
ul.social_icons li a:hover{
    color:#ffc107 !important;
}
#particles-js{
    height: 100% !important;
    width: 100% !important;
    position: fixed !important;
    top: 0px !important;
    left: 0px !important;
    z-index: 1 !important;

}
.quora_left .section2{
    position: relative;
    z-index: 2;
}
.quora_left .parallax-container h3{
    opacity: 0.8;
    background-color: #757575;
}
.work_description{
    min-height: 110px;
}
@media only screen and (max-width: 992px){
    .quora_left, footer.page-footer.quora_left{
        margin-left:0;
    }
}
